<div layout="row">
    <div class="sidenav-container" flex="25">
        <socket-sidenav states="socket.diagramInfo.modules">
        </socket-sidenav>
    </div>
    <div class="model-container" flex>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div class="md-menu-demo">
                    <div class="menu-demo-container" layout="column" layout-align="space-between center">
                        <md-menu>
                            <md-button aria-label="Open menu with custom trigger" class="md-icon-button"
                                       ng-mouseenter="$mdMenu.open()">
                                <md-icon>menu</md-icon>
                            </md-button>
                            <md-menu-content ng-mouseleave="$mdMenu.close()" width="4">
                                <md-menu-item>
                                    <md-button ng-click="socket.openDiagram()">
                                        {{ 'diagram.open' | translate }}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <md-button class="md-raised" ng-click="socket.openConnectDialog()"> {{ 'socket.start' | translate }}
                </md-button>
                <md-button class="md-raised" ng-click="socket.stopCount()">{{ 'socket.stop' | translate }}</md-button>
                <md-button class="md-raised" ng-click="socket.goToSchema()">{{ 'schema.self' | translate }}</md-button>
                <md-button class="md-raised" ng-click="socket.goToModel()">{{ 'model.self' | translate }}</md-button>

                <div class="md-menu-demo">
                    <div class="menu-demo-container" layout="column" layout-align="center right">
                        <md-menu>
                            <md-button aria-label="Сhoose language" class="md-icon-button"
                                       ng-mouseenter="$mdMenu.open()">
                                <md-icon>language</md-icon>
                            </md-button>
                            <md-menu-content ng-mouseleave="$mdMenu.close()" width="2">
                                <md-menu-item>
                                    <md-button ng-click="socket.setLanguage('en')">
                                        {{ 'language.en' | translate }}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="socket.setLanguage('ru')">
                                        {{ 'language.ru' | translate }}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <div class="connectedItems" layout="row">
            <ng-include class="model" flex="75" ng-style="{'background-image': 'url({{socket.backgroundImg}})'}"
                        src="socket.modelTemplate"/>

            <md-card flex="35">
                <sidenav active-state="socket.activeState" diagram-info="socket.modelInfo" is-active-model="true"
                         is-active-setting="true">
                </sidenav>
        </div>
    </div>
</div>