<div class="header-container">
    <md-toolbar class="toolbar" layout="row" layout-align="center center">
        <div class="md-toolbar-tools">
            <div layout-align="center">
                <md-button ng-click="vm.toggleLeft()" aria-label="Menu">
                    <md-icon class="material-icons">list</md-icon>
                </md-button>
            </div>
            <!--<div layout-align="center left" layout-fill flex>-->
                <span>Zoom</span>
                <md-slider min="0" max="2" ng-model="vm.zoomValue" step="0.1" aria-label="red" id="red-slider"
                           class="md-warn" ng-change="vm.zoom()">
                </md-slider>
            <!--</div>-->
            <div>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdMenu.open()">
                            File
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('share', $event)">
                                    Share...
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">New</md-button>
                                    <md-menu-content>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('Open', $event)">
                                    Open...
                                    <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                                    Print
                                    <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>

<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="2" md-disable-backdrop>
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>
    <md-content layout-margin>
        <div plumb-menu-item class="menu-item" ng-repeat="module in vm.library"
             ng-style="{ 'left':module.x, 'top':module.y }"
             data-identifier="{{module.library_id}}" draggable>
            <div class="summary">{{module.title}}</div>
        </div>
    </md-content>

    <md-button ng-click="vm.toggleLeft()" class="md-accent">
        Close
    </md-button>
</md-sidenav>
