<md-card class="sidenav">
    <md-card-header ng-if="!isActiveModel">
        <md-card-header-text>
            <div class="title-text">{{diagramInfo.name}}</div>
            <div>{{diagramInfo.description}}</div>
        </md-card-header-text>
        <md-button class="md-icon-button" ng-click="newState(diagramInfo.uuid, diagramInfo.modules, state)">
            <md-icon>playlist_add</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="showjson=!showjson">
            <md-icon ng-if="!showjson">create</md-icon>
            <md-icon ng-if="showjson">remove</md-icon>
        </md-button>
    </md-card-header>

    <md-divider></md-divider>

    <md-card-content ng-if="diagramInfo.modules.length >= 1 || showjson">
        <md-card ng-if="!showjson" ng-repeat="state in diagramInfo.modules">
            <md-card-header>
                <md-card-header-text>
                    <div layout="column">
                        <span class="title-text">{{state.name}}</span>
                        <span class="medium-text" ng-if="!isActiveModel">
                            {{ 'state.position' | translate }}: [{{state.x| number}}, {{state.y| number}}]
                        </span>
                    </div>
                </md-card-header-text>
                <md-button class="md-icon-button" ng-click="configState(state)" ng-if="!isActiveModel">
                    <md-icon>settings_applications</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="setActiveState(state)">
                    <md-icon ng-if="activeState !== state">visibility</md-icon>
                    <md-icon ng-if="activeState === state">visibility_off</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="deleteState(diagramInfo.uuid, diagramInfo.modules, state)">
                    <md-icon>delete_sweep</md-icon>
                </md-button>
            </md-card-header>

            <md-card-content ng-hide="activeState != state">
                <div layout="row" layout-align="space-between">
                    <md-input-container>
                        <label> {{ 'state.name' | translate}}</label>
                        <input name="stateName" ng-model="state.name">
                    </md-input-container>
                    <md-button class="md-icon-button" ng-click="swapEndpointState(state)" ng-if="!isActiveModel">
                        <md-icon>compare_arrows</md-icon>
                    </md-button>
                </div>

                <div layout="row" layout-align="space-between" ng-if="!isActiveModel">
                    <md-input-container>
                        <label>{{ 'state.template' | translate }}</label>
                        <md-select name="templateName" ng-model="state.template">
                            <md-option ng-repeat="partial in partials" ng-value="partial">{{partial}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-if="isActionState(state)">
                        <label>{{ 'state.color' | translate }}</label>
                        <md-select name="colorName" ng-model="state.color">
                            <md-option ng-repeat="color in colors" ng-value="color.color">{{color.abbr}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div ng-if="isActionState(state)">
                    <md-card class="action-input-container" layout="row">
                        <md-icon>call_received</md-icon>
                        <md-input-container ng-repeat="input in state.inputContainer">
                            <label>{{input.label}}</label>
                            <input ng-change="countFunction(activeState)" ng-model="input.value"/>
                        </md-input-container>
                        <div layout="column">
                            <md-button class="md-icon-button"
                                       ng-click="openContainerDiagram(state, CONSTANTS.CONTAINER_TYPE.INPUT)">
                                <md-icon>add</md-icon>
                            </md-button>
                            <md-button class="md-icon-button"
                                       ng-click="deleteInput(state, CONSTANTS.CONTAINER_TYPE.INPUT)">
                                <md-icon>remove</md-icon>
                            </md-button>
                        </div>
                    </md-card>

                    <md-card class="action-input-container" layout="row" ng-if="isActionState(state)">
                        <md-icon>call_made</md-icon>
                        <md-input-container ng-repeat="output in state.outputContainer">
                            <label>{{output.label}}</label>
                            <input ng-model="output.value"/>
                        </md-input-container>
                        <div layout="column">
                            <md-button class="md-icon-button"
                                       ng-click="openContainerDiagram(state, CONSTANTS.CONTAINER_TYPE.OUTPUT)">
                                <md-icon>add</md-icon>
                            </md-button>
                            <md-button class="md-icon-button"
                                       ng-click="deleteOutput(state, CONSTANTS.CONTAINER_TYPE.OUTPUT)">
                                <md-icon>remove</md-icon>
                            </md-button>
                        </div>
                    </md-card>
                </div>

                <md-card layout="row" ng-if="isCircleState(state) && !isActiveModel">
                    <md-input-container>
                        <label>v5</label>
                        <input ng-model="state.v5"/>
                    </md-input-container>
                    <md-input-container>
                        <label>v6</label>
                        <input ng-model="state.v6"/>
                    </md-input-container>
                </md-card>

                <md-card ng-if="!isActiveModel" ng-repeat="source in state.sources">
                    <md-card-header>
                        <md-card-header-text>
                            <div layout="column">
                                <div class="big-text">UUID - {{source.uuid}}</div>
                                <small class="small-text">{{ 'state.source' | translate }}</small>
                            </div>
                        </md-card-header-text>
                        <md-button class="md-icon-button" ng-click="removeIndex($index, state.sources)">
                            <md-icon>delete_sweep</md-icon>
                        </md-button>
                    </md-card-header>
                    <md-card-content ng-class="{'active-state': connection.mouseover}" ng-if="source.connections.length"
                                     ng-repeat="connection in source.connections">
                        <md-card>
                            <md-card-header>
                                <md-card-header-text>
                                    <div class="big-text">{{ 'state.connection.self' | translate }}</div>
                                </md-card-header-text>
                                <md-button class="md-icon-button" ng-click="removeIndex($index, source.connections)">
                                    <md-icon>delete_sweep</md-icon>
                                </md-button>
                            </md-card-header>
                            <md-card-content>
                                <md-input-container>
                                    <label>{{ 'state.connection.condition' | translate }}</label>
                                    <input name="conditionName" ng-model="connection.condition">
                                </md-input-container>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-card>

                <md-card ng-if="!isActiveModel" ng-repeat="target in state.targets">
                    <md-card-header>
                        <md-card-header-text>
                            <div layout="column">
                                <div class="big-text">UUID - {{target.uuid}}</div>
                                <small class="small-text">{{ 'state.target' | translate }}</small>
                            </div>
                        </md-card-header-text>
                        <md-button class="md-icon-button" ng-click="removeIndex($index, state.targets)">
                            <md-icon>delete_sweep</md-icon>
                        </md-button>
                    </md-card-header>
                </md-card>
            </md-card-content>

        </md-card>

        <md-card ng-if="showjson">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="title-text">{{ 'diagram.info' | translate}}</div>
                    </md-card-header-text>
                    <md-button class="md-icon-button" ng-click="deleteDiagram(diagramInfo)">
                        <md-icon>delete_sweep</md-icon>
                    </md-button>
                </md-card-header>
                <md-card-content>
                    <md-input-container>
                        <label>{{ 'diagram.name' | translate}}</label>
                        <input ng-model="diagramInfo.name"/>
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'diagram.description' | translate}}</label>
                        <input ng-model="diagramInfo.description"/>
                    </md-input-container>
                </md-card-content>
            </md-card>

        </md-card>

        <md-card ng-if="showjson">
            <textarea class="json-container">{{diagramInfo.modules | json }}</textarea>
        </md-card>
    </md-card-content>
</md-card>