<md-card class="model-sidenav">
    <md-card-content class="connectedItems" ng-model="diagram.states" ui-sortable="sortableOptions"
                     ui-sortable-update="refresh()">
        <md-card ng-click="setActiveState(state)" ng-repeat="state in diagram.states">
            <md-card-header>
                <md-card-header-text>
                    <div layout="row" layout-align="space-between center">
                        <span class="title-text">{{state.name}}</span>
                        <span class="medium-text">
                            {{ 'state.position' | translate }}: [{{state.x| number}}, {{state.y| number}}]
                        </span>
                        <md-button class="md-icon-button" ng-click="showStateSettings(state)" ng-if="editable">
                            <md-icon>settings_applications</md-icon>
                        </md-button>
                    </div>
                </md-card-header-text>
            </md-card-header>

            <div ng-if="state.sources.length != 0">
                <md-card ng-if="isActiveState(state)">
                    <md-card-content ng-class="{'active-state': connection.mouseover}"
                                     ng-if="state.source.connections.length"
                                     ng-repeat="connection in state.source.connections">

                        <div class="big-text">{{ 'state.connection.self' | translate }} {{connection.uuid}}
                            <md-icon ng-click="changeVisibility(connection)" ng-if="connection.is_visible">
                                visibility
                            </md-icon>
                            <md-icon ng-click="changeVisibility(connection)" ng-if="connection.is_visible === false">
                                visibility_off
                            </md-icon>
                        </div>

                    </md-card-content>
                </md-card>
            </div>
        </md-card>
    </md-card-content>
</md-card>
