<md-card>
    <md-card-header>
        <md-card-header-text>
            <div class="title-text">{{ 'block.endpoints' | translate }}</div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="column">
        <md-input-container>
            <label>{{ 'block.input' | translate }}</label>
            <md-select ng-model="vm.inputLayout">
                <md-option ng-repeat="(icon,_) in vm.endpointLayouts" ng-value="icon">
                    <md-icon>{{icon}}</md-icon>
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>{{ 'block.output' | translate }}</label>
            <md-select ng-model="vm.outputLayout">
                <md-option ng-repeat="(icon,_) in vm.endpointLayouts" ng-value="icon">
                    <md-icon>{{icon}}</md-icon>
                </md-option>
            </md-select>
        </md-input-container>
    </md-card-content>
    <md-input-container>
        <md-button ng-click="vm.apply()">
            {{ 'apply' | translate}}
        </md-button>
        <md-button ng-click="vm.closeDialog()">
            {{ 'close' | translate}}
        </md-button>
    </md-input-container>
</md-card>
