.title {
  padding: 10px;
  cursor: move;
  font-weight: bold;
  font-size: 120%;
}

.connect {
  position: absolute;
  top: 8px;
  left: 12px;
  margin: 0 auto;
  width: 20%;
  height: 20px;
  cursor: pointer;
  background-color: #40B3DF;
}

.summary {
  padding: 10px;
  cursor: move;
  font-weight: bold;
  font-size: 120%;
}

.menu-item {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  font-size: 80%;
  background-color: #FFFFFF;
  text-align: center;
  -moz-box-shadow: 2px 2px 3px 1px #AAA;
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
  box-shadow: 2px 2px 3px 1px #AAA;
}

.item {
  border-radius: 30px;
  position: absolute;
  border: 1px solid black;
  width: 150px;
  font-size: 80%;
  background-color: #FFFFFF;
  text-align: center;
  -moz-box-shadow: 2px 2px 3px 1px #AAA;
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
  box-shadow: 2px 2px 3px 1px #AAA;
}

.drop-container {
  height: 100%;
  width: 100%;
}

//.sidenav-container {
//  background-color: #3F51B5;
//}
