<div layout="row">
    <div class="sidenav-container" flex="25" ng-if="home.diagram">
        <sidenav active-state="home.activeState" diagram="home.diagram"
                 is-active-setting="home.isActiveSetting">
        </sidenav>
    </div>
    <div class="schema-container" flex ng-if="!home.isActiveSetting">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div class="md-menu-demo">
                    <div class="menu-demo-container" layout="column" layout-align="center center">
                        <md-menu>
                            <md-button aria-label="Open menu with custom trigger" class="md-icon-button"
                                       ng-mouseenter="$mdMenu.open()">
                                <md-icon>menu</md-icon>
                            </md-button>
                            <md-menu-content ng-mouseleave="$mdMenu.close()" width="4">
                                <md-menu-item>
                                    <md-button ng-click="home.createNewDiagram()">
                                        {{ 'diagram.create' | translate }}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if="home.diagram">
                                    <md-button ng-click="home.updateDiagram()">
                                        {{ 'diagram.update' | translate }}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="home.openDiagram()">
                                        {{ 'diagram.open' | translate }}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <md-button class="md-raised" ng-click="home.goToModel()">{{ 'model.self' | translate }}</md-button>
                <md-button class="md-raised" ng-click="home.goToSocket()">{{ 'socket.self' | translate }}</md-button>
                <md-slider aria-label="red" class="md-warn" id="red-slider" max="200" min="0" ng-model="home.zoomlevel"
                           step="10">
                </md-slider>
                <div class="md-menu-demo">
                    <div class="menu-demo-container" layout="column" layout-align="center right">
                        <md-menu>
                            <md-button aria-label="Сhoose language" class="md-icon-button"
                                       ng-mouseenter="$mdMenu.open()">
                                <md-icon>language</md-icon>
                            </md-button>
                            <md-menu-content ng-mouseleave="$mdMenu.close()" width="2">
                                <md-menu-item>
                                    <md-button ng-click="home.setLanguage('en')">
                                        {{ 'language.en' | translate }}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="home.setLanguage('ru')">
                                        {{ 'language.ru' | translate }}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>

            </div>
        </md-toolbar>

        <js-plumb-canvas id="container" on-connection="home.onConnection" x="home.pos_x" y="home.pos_y"
                         zoom="home.zoomlevel">
            <ng-include ng-repeat="state in home.diagram.modules" src="state.template"></ng-include>
        </js-plumb-canvas>
    </div>

    <setting flex="75" ng-if="home.isActiveSetting"></setting>
</div>