<md-card>
    <md-card-header>
        <md-card-header-text>
            <div class="title-text"> {{ 'diagram.choose' | translate }}</div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-input-container>
            <label>{{ 'diagram.self' | translate }}</label>
            <md-select name="templateName" ng-model="vm.choosenDiagram">
                <md-option ng-repeat="diagram in vm.diagrams" ng-value="diagram">{{diagram.name}}</md-option>
            </md-select>
        </md-input-container>
    </md-card-content>
    <md-input-container>
        <md-button ng-click="vm.chooseDiagram()">
            {{ 'apply' | translate }}
        </md-button>
        <md-button ng-click="vm.hideDialog()">
            {{ 'close' | translate }}
        </md-button>
    </md-input-container>
</md-card>