.cell {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
}

#c1 {
  left: 100px;
  top: 140px;
}

.cell_name {
  position: absolute;
  right: 40px;
  top: -40px;
}

#c2 {
  left: 160px;
  top: 140px;
}

#c3 {
  top: 456px;
  left: 160px;
}

#c4 {
  right: 179px;
  top: 456px;
}

.start-count {
  box-shadow: 0 10px 30px seagreen;
}
