<custom-js-plumb-object class="custom-action-state"
                        ng-click="vm.setActiveState(state)"
                        ng-style="{ 'left':state.x, 'top':state.y,  'box-shadow': '0 15px 35px ' + state.color}"
                        state-object="state">
    <h3 class="cursor-default">{{state.name}}</h3>
    <custom-js-plumb-endpoint anchor={{state.endpointStyle.sourceAnchor}}
                              class={{state.endpointStyle.sourceEndpoint}}
                              ng-repeat="source in state.sources"
                              settings="(state.endpointStyle.sourceAnchor === CONSTANTS.ANCHOR.LEFT_MIDDLE || state.endpointStyle.sourceAnchor === CONSTANTS.ANCHOR.RIGHT_MIDDLE) ? vm.sourceEndpointStyle1 : vm.sourceEndpointStyle2"
                              uuid="{{source.uuid}}">
        <custom-js-plumb-connection ng-if="connection.is_visible"
                                    ng-model="connection"
                                    ng-repeat="connection in source.connections"
                                    state-objects="vm.diagram.states">
        </custom-js-plumb-connection>
    </custom-js-plumb-endpoint>
    <custom-js-plumb-endpoint anchor={{state.endpointStyle.targetAnchor}}
                              class={{state.endpointStyle.targetEndpoint}}
                              ng-repeat="target in state.targets"
                              settings="((state.endpointStyle.targetAnchor === CONSTANTS.ANCHOR.LEFT_MIDDLE || state.endpointStyle.targetAnchor === CONSTANTS.ANCHOR.RIGHT_MIDDLE) ? vm.targetEndpointStyle1 : vm.targetEndpointStyle2)"
                              uuid="{{target.uuid}}"></custom-js-plumb-endpoint>
</custom-js-plumb-object>
