<md-card>
    <md-card-header>
        <md-card-header-text>
            <div class="title-text">Connect settings</div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item>
                <md-input-container>
                    <label>Host</label>
                    <input ng-model="vm.connectSettings.host"/>
                </md-input-container>
                <md-input-container>
                    <label>Port</label>
                    <input ng-model="vm.connectSettings.port"/>
                </md-input-container>
                <md-input-container>
                    <label>Pause</label>
                    <input ng-model="vm.connectSettings.pause"/>
                </md-input-container>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-input-container>
        <md-button ng-click="vm.acceptSettings()">
            Apply
        </md-button>
        <md-button ng-click="vm.hideDialog()">
            Close
        </md-button>
    </md-input-container>
</md-card>
