<html>

<head>
    <!-- <script src=".. /dist/angular-translate.js"></script> -->
    <title>Diploma</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-cloak ng-app="diplom">
<div id="wrapper" ui-view="main"></div>
</body>

</html>
