<js-plumb-object class="action-state"
                 state-object="state"
                 ng-style="{ 'left':state.x, 'top':state.y, 'box-shadow': '0 15px 35px' + state.color}"
                 ng-click="home.setActiveState(state)">
    <div layout="row" class="action-input-container">
        <md-icon>call_received</md-icon>
        <md-input-container ng-repeat="input in state.inputContainer">
            <label>{{input.label}}</label>
            <input ng-change="home.countFunction(state.outputContainer, state.inputContainer)" ng-model="input.value"/>
        </md-input-container>
    </div>
    <h3 class="cursor-default">{{state.name}}</h3>
    <div layout="row" class="action-input-container">
        <md-icon>call_made</md-icon>
        <md-input-container ng-repeat="output in state.outputContainer">
            <label>{{output.label}}</label>
            <input ng-change="home.countFunction(state.outputContainer, state.inputContainer)" ng-model="output.value"/>
        </md-input-container>
    </div>
    <js-plumb-endpoint class={{state.endpointStyle.sourceEndpoint}}
                       anchor={{state.endpointStyle.sourceAnchor}}
                       ng-repeat="endpoint in state.sources"
                       uuid="{{endpoint.uuid}}"
                       settings="home.sourceEndpointStyle">
        <js-plumb-connection ng-click="setActiveConnection($index)"
                             ng-repeat="connection in endpoint.connections"
                             ng-model="connection"
                             state-objects="home.diagramInfo.modules">
        </js-plumb-connection>
    </js-plumb-endpoint>
    <js-plumb-endpoint class={{state.endpointStyle.targetEndpoint}}
                       anchor={{state.endpointStyle.targetAnchor}}
                       ng-repeat="endpoint in state.targets"
                       uuid="{{endpoint.uuid}}"
                       settings="home.targetEndpointStyle"></js-plumb-endpoint>
</js-plumb-object>
