<js-plumb-object class="action-state"
                 ng-click="home.setActiveState(state)"
                 ng-style="{ 'left':state.x, 'top':state.y, 'box-shadow': '0 15px 35px' + state.color}"
                 state-object="state">
    <div class="action-input-container" layout="row">
        <md-icon>call_received</md-icon>
        <md-input-container ng-repeat="input in state.inputContainer">
            <label>{{input.label}}</label>
            <input ng-change="home.countFunction(state)" ng-model="input.value"/>
        </md-input-container>
    </div>
    <h3 class="cursor-default">{{state.name}}</h3>
    <div class="action-input-container" layout="row">
        <md-icon>call_made</md-icon>
        <md-input-container ng-repeat="output in state.outputContainer">
            <label>{{output.label}}</label>
            <input ng-model="output.value"/>
        </md-input-container>
    </div>
    <js-plumb-endpoint anchor={{state.endpointStyle.sourceAnchor}}
                       class={{state.endpointStyle.sourceEndpoint}}
                       ng-repeat="endpoint in state.sources"
                       settings="home.sourceEndpointStyle"
                       uuid="{{endpoint.uuid}}">
        <js-plumb-connection ng-model="connection"
                             ng-repeat="connection in endpoint.connections"
                             state-objects="home.diagram.modules">
        </js-plumb-connection>
    </js-plumb-endpoint>
    <js-plumb-endpoint anchor={{state.endpointStyle.targetAnchor}}
                       class={{state.endpointStyle.targetEndpoint}}
                       ng-repeat="endpoint in state.targets"
                       settings="home.targetEndpointStyle"
                       uuid="{{endpoint.uuid}}"></js-plumb-endpoint>
</js-plumb-object>
